.nav{
  height: 50px;
  width: 100%;
  background-color: black;
  position: relative;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: 0 auto;
}

.nav-li {
  text-decoration: none;
  list-style:none;
}

.nav-ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-link {
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  text-align: center;
  text-emphasis: none;
  padding: 15px 15px;
  color: white;
	font-size: .99em;
}
