
.order-component {
  align-items: center;
  text-align: left;
  width: 300px;
  margin: 0 auto;
}

.order-input-form {
  align-items: center;
  justify-content: center;
  width: 300px;
  display:grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.order-input-form p {
  margin: 5px;;
}

.input-field {
  display: block;
}

.input-label {
  display: block;
  margin: 5px;
}

.text-field {
  display: block;
  resize: none;
  background: blue;
  border: none
}

.submit-button {
  align-items: center;
  display: block;
  margin: 10px 0;
}

.exit-position {
  display: block;
  margin: 10px 0;
}
